<ion-view title="Forgot Password" id="page5" style="background-color:#7645A1;" class="side-back-gradient">
  <ion-content padding="true" class="has-header">
    <h3 id="forgotPassword-heading1" style="color:#000000;">The link to reset your password would be sent to you via:</h3>
    <form id="forgotPassword-form6" class="list">
      <label class="item item-input" id="forgotPassword-input5">
        <span class="input-label">Email</span>
        <input type="email" placeholder="">
      </label>
      <a ui-sref="resetPassword()" id="forgotPassword-button9" class="button button-positive button-block">Send Via Email</a>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <label class="item item-input" id="forgotPassword-input6">
        <span class="input-label">Phone Number</span>
        <input type="tel" placeholder="">
      </label>
    </form>
    <a ui-sref="resetPassword()" id="forgotPassword-button10" class="button button-positive button-block">Send Via Text</a>
  </ion-content>
</ion-view>