<ion-view title="Home" hide-back-button="true" id="page6" style="background-color:#7645A1;" class="side-back-gradient">
  <ion-content padding="true" class="has-header">
    <div id="home-container4">
      <h2 id="home-heading2" style="color:#EFF1F5;text-align:center;">Upcoming Tasks</h2>
      <div id="home-container9" class="container1">
        <h3 id="home-heading16" style="color:#EFF1F5;">Medication @ 3.00pm</h3>
        <div id="home-markdown11" class="show-list-numbers-and-dots">
          <p style="color:#EFF1F5;">Consume 4 tablets in Medication Set A.</p>
        </div>
        <button id="home-button24" class="button button-stable button-block a">Complete!</button>
      </div>
      <div class="spacer" style="width: 300px; height: 6.98177px;"></div>
      <div id="home-container13" class="container1">
        <h3 id="home-heading22" style="color:#EFF1F5;">Daily Walk @ 5.00pm</h3>
        <div id="home-markdown10" class="show-list-numbers-and-dots">
          <p style="color:#EFF1F5;">Head downstairs for a walk around the park in front of your house.</p>
        </div>
        <button id="home-button27" class="button button-stable button-block a">Complete!</button>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 42.9896px;"></div>
    <div id="home-container8">
      <h2 id="home-heading15" style="color:#EFF1F5;">Next Check Up Details</h2>
      <div id="home-container10" class="container1">
        <h4 id="home-heading18" style="color:#EFF1F5;">3 July 2018 @ NUH</h4>
        <div id="home-markdown8" class="show-list-numbers-and-dots">
          <p style="color:#EFF1F5;">Location: National University Hospital (NUH) Time: 1000</p>
        </div>
        <button id="home-button25" class="button button-stable button-block">Complete!</button>
      </div>
    </div>
    <div id="home-button-bar1" class="button-bar"></div>
    <div class="spacer" style="width: 300px; height: 70px;"></div>
  </ion-content>
</ion-view>