<ion-view title="Login" hide-back-button="true" id="page4" style="background-color:#7645A1;" class="side-back-gradient">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/aDt62V0rRmWDFHb2OvXF_download.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="login-heading29" style="color:#FFFFFF;text-align:center;" class="comfortaa">DementiAway</h1>
    <form id="login-form3" class="list">
      <ion-list id="login-list4">
        <label class="item item-input" id="login-input3">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input4">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="menu.home()" id="login-button14" class="button button-light button-block button-outline">Log In</a>
      <a ui-sref="forgotPassword()" id="login-button15" class="button button-light button-block button-outline">Forgot Password</a>
    </form>
  </ion-content>
</ion-view>