<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21" style="background-color:#FFFFFF;">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left side-menu-gradient">
      <div class="spacer" style="width: 268px; height: 33px;"></div>
      <div>
        <img src="img/fbfFmWOSWaZU2twdmkyH_download.png" style="display: block; width: 60%; height: 40%; margin-left: auto; margin-right: auto;">
      </div>
      <h1 id="menu-heading28" style="color:#FFFFFF;text-align:center;" class="comfortaa">DementiAway</h1>
      <ion-list id="menu-list1">
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item15" ui-sref="menu.home()" menu-close="">
          <i class="icon ion-android-home"></i>Home</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item16" ui-sref="menu.games()" menu-close="">
          <i class="icon ion-ios-game-controller-b"></i>Games</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item14" ui-sref="menu.profile()" menu-close="">
          <i class="icon ion-ios-contact"></i>Profile</ion-item>
      </ion-list>
      <a ui-sref="login()" menu-close="" id="menu-button13" class="button button-assertive button-block">Log Out</a>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>