<ion-view title="Profile" hide-back-button="true" id="page7" style="background-color:#7645A1;" class="side-back-gradient">
  <ion-content padding="true" class="has-header">
    <div id="profile-container5" class="Elderly">
      <h1 id="profile-heading11" style="color:#FFFFFF;font-weight:600;text-align:center;" class="elderdetail">Elderly Details</h1>
      <ion-list id="profile-list8">
        <ion-item class="item-avatar dark" id="profile-list-item12">
          <img src="img/-Let-It-Snow-the-hunger-games-37923822-413-500.jpg">
          <h2dark>Desmond Snow
            <p>S1234567A</p>
          </h2dark>
        </ion-item>
      </ion-list>
      <div class="spacer" style="height: 5px;"></div>
      <div id="profile-container11" class="eldertext">
        <h4 id="profile-heading20" style="color:#000000;font-weight:400;text-align:center;">Mobile Number: 88997656</h4>
        <h4 id="profile-heading21" style="color:#000000;font-weight:400;text-align:center;">Date of Birth: 23 June 1942</h4>
        <h4 id="profile-heading23" style="color:#000000;font-weight:400;text-align:center;">Home Address: Rivervale Drive, Blk 678, #06-67, Singapore 567678</h4>
      </div>
      <div class="spacer" style="width: 300px; height: 22px;"></div>
    </div>
    <div id="profile-container6" class="Caregiver">
      <h1 id="profile-heading10" style="color:#FFFFFF;font-weight:600;text-align:center;" class="caredetail">Caregiver Details</h1>
      <ion-list id="profile-list9">
        <ion-item class="item-avatar dark" id="profile-list-item17">
          <img src="img/latestcb20120208233058">
          <h2dark>Dennick Snow
            <p>S7564312B</p>
          </h2dark>
        </ion-item>
      </ion-list>
      <div class="spacer" style="height: 5px;"></div>
      <div id="profile-container12" class="caretext">
        <h4 id="profile-heading25" style="color:#000000;font-weight:400;text-align:center;">Relationship to Elderly: Son</h4>
        <h4 id="profile-heading27" style="color:#000000;font-weight:400;text-align:center;">Date of Birth: 8 January 1979</h4>
        <h4 id="profile-heading26" style="color:#000000;font-weight:400;text-align:center;">Mobile Number: 89074534</h4>
        <h4 id="profile-heading24" style="color:#000000;font-weight:400;text-align:center;">Home Address: Rosemary Ave, Blk 789, #03-37, Singapore 341789</h4>
      </div>
    </div>
  </ion-content>
</ion-view>