<ion-view title="Reset Password" id="page9" class="side-back-gradient">
  <ion-content padding="true" class="has-header">
    <h4 id="resetPassword-heading17" style="color:#000000;">Key in the code sent to your email in the box below to reset your password.</h4>
    <form id="resetPassword-form7" class="list">
      <label class="item item-input" id="resetPassword-input7">
        <input type="text" placeholder="Code">
      </label>
      <div class="spacer" style="height: 100px;"></div>
    </form>
    <form id="resetPassword-form8" class="list">
      <label class="item item-input" id="resetPassword-input9">
        <input type="text" placeholder="New Password">
      </label>
      <label class="item item-input" id="resetPassword-input10">
        <input type="text" placeholder="Re-enter Password">
      </label>
    </form>
    <a ui-sref="login()" id="resetPassword-button21" class="button button-positive button-block">Set Password</a>
  </ion-content>
</ion-view>